---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    <p>I am a highly skilled Electronic Engineering graduate with a passion for technology and a focus on computer and IT subjects. With a Bachelor's degree in Electronic Engineering (Computer) Honours, I bring expertise in programming, artificial neural networks, and advanced software integration.</p><br>
    <p>In my current role as an Online Integration Engineer at ShopBack Pte Ltd, I am the go-to person for seamless online integration of our cutting-edge products. I thrive on assisting merchants with plugin installation, API integration, and troubleshooting technical issues, ensuring their success in the digital space.</p><br>
    <p>With prior experience as an Automation Engineer and BMS Service Engineer, I have a solid foundation in maintaining industrial automation systems and building management systems. I possess a keen eye for detail and a knack for optimizing processes, delivering innovative solutions that enhance operational efficiency.</p><br>
    <p>My versatile background also includes positions as a Software Engineer, Field Service Engineer, and System Analyst, where I developed software solutions, provided technical support, and maintained web-based applications.</p><br>
    <p>Passionate, driven, and armed with exceptional problem-solving skills, I am committed to delivering top-notch results and driving technological advancements in every endeavor.</p>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Universiti Teknologi Mara Shah Alam – 2011-2015"
      subtitle="Bachelor of Electronic Engineering (Computer) Honours">
   <p>Electronic engineering-oriented syllabus with additional computer & IT subjects. Such as programming and artificial neural networks.</p>
   <p>- CGPA 3.08</p>
    </TimeLineElement>
    <TimeLineElement
      title="Universiti Teknologi Mara Shah Alam – 2010-2011"
      subtitle="Engineering Foundation">
   <p>Syllabus consists of Engineering Math, Physics and Chemistry. Also learned object-oriented programming and Photoshop.</p>
   <p>- CGPA 3.54; Dean’s list</p>
    </TimeLineElement>
    <TimeLineElement
      title="SM Sains Kuala Terengganu – 2008-2009"
      subtitle="SPM">
      <p>- Result: 4A+ 2A 2A- 1B+</p>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Online Integration Engineer for ShopBack Pte Ltd"
      subtitle="From Jan 2022 in Singapore"
    >
    ShopBack is a software company providing products such as Online Cashback, Vouchers, In-store Pay and Buy Now Pay Later (BNPL) that is known as ShopBack PayLater after acquiring hoolah. My job scope is to be the go to person for PayLater online integration. Mainly handling online merchants to integrate their website with our product from A-to-Z either through plugin installation, or API integration. Help to debug merchant issues/query through logs (Splunk, Datadog). And also helps the merchant support team to answer technical merchant questions. Apart from that, I am also managing the plugin and bridging between the merchant and the plugin developer, in case of any plugin issue, or feature request. Additionally, look into the data (Looker Studio) to improve the business process and also optimize the integration process to improve merchant time-to-live.
    </TimeLineElement>
    <TimeLineElement
      title="Automation Engineer for Macro Integration Sdn Bhd"
      subtitle="From Aug 2020 to Dec 2021 in Johor, Malaysia"
    >
    The company acts as system integrator and specialize in design, install and maintain controls instrumentation. Using PLC and DDC from brands such as Schneider, Siemens and Rockwell, the company offers total industrial automation of facilities and processes. My job scope consists of maintaining sites such as Seagate Senai, Dyson Sahara and Samtec, developing and modifying programmes for the PLC and HMI. Performing preventative maintenance and troubleshooting hardware and software issues. I am also in charge of doing the PLC and HMI programming logic changes using softwares such as Schneider Ecostruxure and Rockwell RSLogix 5000. Occasionally, I will also manage A&A work from the procurement stage, installing, termination and reporting stage.
    </TimeLineElement>
    <TimeLineElement
      title="BMS Service Engineer for Quantum Automation Pte Ltd"
      subtitle="From Aug 2017 to Aug 2020 in Singapore"
    >
    The company provides Building Management System (BMS) for various sites such as malls, offices buildings, MRT depots, SAIS buildings etc. My job scope covers right from controller installation, doing preventative maintenance, cable termination to field devices, programming, communication protocol configuration and link to HMI. Additionally, developed a strong understanding of building management systems and their integration with HVAC equipment (chillers, air handlers, and fan coil units). Excellent problem-solving and critical-thinking abilities, with a focus on delivering effective solutions.
    </TimeLineElement>
    <TimeLineElement
      title="Software Engineer for CSE-EIS Malaysia Sdn Bhd"
      subtitle="From Nov 2016 to Jul 2017 in Selangor, Malaysia"
    >
    In charge of LIMS for client companies, a heavily Java based software, with MySQL/Oracle server. Develop web pages and reporting systems for the software. I also develop Windows form solutions for data modifications using VB.Net.
    </TimeLineElement>
    <TimeLineElement
      title="Field Service Engineer for CTC Global Sdn Bhd"
      subtitle="From Apr 2016 to Oct 2016 in Selangore, Malaysia"
    >
    The company provides Building Management System (BMS) for various sites such as malls, offices buildings, MRT depots, SAIS buildings etc. My job scope covers right from controller installation, doing preventative maintenance, cable termination to field devices, programming, communication protocol configuration and link to HMI. Additionally, developed a strong understanding of building management systems and their integration with HVAC equipment (chillers, air handlers, and fan coil units). Excellent problem-solving and critical-thinking abilities, with a focus on delivering effective solutions.
    </TimeLineElement>
  </div>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-2 columns-2 mx-6">
    <li>Windows - Advance</li>
    <li>Microsoft Office (Word, Excel) - Advance</li>
    <li>SQL – Intermediate</li>
    <li>PHP  – Intermediate</li>
    <li>HTML – Intermediate</li>
    <li>CSS – Intermediate</li>
    <li>Laravel – Intermediate</li>
    <li>IT support – Intermediate</li>
    <li>Data analyst (Looker studio) – Intermediate</li>
    <li>Splunk/Datadog – Intermediate</li>
    <li>CMS (Wordpress, Magento) – Intermediate</li>
    <li>BMS/FMS – Intermediate</li>
    <li>ACMV/HVAC – Intermediate</li>
    <li>PLC programming – Intermediate</li>
    <li>Troubleshooting – Intermediate</li>
    <li>Maintenance – Intermediate</li>
  </ul>
</BaseLayout>
