---
import PageLayout from "../layouts/Page.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<PageLayout>
  <div class="time-line-container grid gap-4">
    <TimeLineElement
      title="Web Developer at Integral Oil Drilling System 2.0"
      subtitle="From 2015 to 2016 at CEDIN, UCI, Habana, Cuba"
      desc="System of steps of process of perforation of oil wells. Outspread in the direction of Intervención of Wells and various wells of drilling of the Occident of the country. Generate reports and graphs of process of perforation making use of data mining. Technologies: Php,Symfony 2.7 , Subversión, PostgreSQL, HigthChart, Ireport, Boostrap 2, JQuery, HTML,CSS, JavaScript"
    />
    <TimeLineElement
      title="Full Stack Dev, Software Architect and Project Leader at Integral Oil Drilling System 3.0"
      subtitle="From 2016 to 2017 at CEDIN, UCI, Habana, Cuba"
      desc="System of steps of process of perforation of oil wells. Outspread in the direction of Intervención of Wells and various wells of drilling of the Occident of the country. Generate reports and graphs of process of perforation making use of data mining. Technologies: Php,Symfony 2.8 , Gitlab, PostgreSQL, HigthChart, Boostrap 2, JQuery, HTML,CSS, JavaScript"
    />
  </div>
</PageLayout>
