---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title = "Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Actualmente estudiante de la carrera de Medicina. Estudio de manera autodidactica Programación hace 2 años.
    
    Tengo conocimientos sobre criptomonedas y blockchain, soy fundador de BitNautas.cu , una comunidad de criptomonedas en Cuba que llegó a alcanzar más de 1200 miembros.
    
    He desarrollado aplicaciones móviles para Android usando Android Studio, actualmente estudio programación web con HTML, CSS y Javascript.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Educación</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Estudiante en Universidad de Ciencias Médicas"
      subtitle="desde 2022 hasta la actualidad"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Conocimientos</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Spanish (Native)</li>
    <li>English (B1)</li>
    <li>Java</li>
    <li>JavaScript</li>
    <li>CSS</li>
    <li>HTML</li>
    <li>Android development</li>
    <li>Wordpress</li>
    <li>Image Manipulation</li>
    <li>Office Suite</li>
    <li>Adobe Photoshop</li>
    <li>Adobe Illustrator</li>
  </ul>
</BaseLayout>
