---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";

const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);

const last_posts = posts.slice(0, 1);
---

<BaseLayout>

    <div class="pb-12 mt-5">
      <div class="text-xl py-1">Hola 游녦</div>
      <div class="text-5xl font-bold">Soy Rafael Planas</div>
      <div class="text-3xl py-3 font-bold">Estudiante y Emprendedor</div>
      <div class="py-2">
        <text class="text-lg">
          Este es mi sitio web personal. Soy estudiante de medicina y autodidacta de la Programaci칩n. Hace varios a침os conoc칤 a bitcoin y las criptomonedas, desde entonces comparto lo que aprendo.
          </text
        >
      </div>
      <div class="mt-8">
        <a class="btn" href="https://twitter.com/RafaelAndresPB" target="_blank"> Seguir</a>
        <a href="/cv" class="btn btn-outline ml-5"> Conocer m치s</a>
      </div>
    </div>

    <div>
      <div class="text-3xl w-full font-bold mb-2">Mis Proyectos{"</>"}</div>
    </div>

    <HorizontalCard
      title="BitNautas"
      img="/post_img_bitnautas.webp"
      desc="Es una comunidad cubana relacionada con las criptomonedas, NFT, Web3, blockchain y mucho m치s. Los miembros  tienen acceso sin costo y en todo momento a el contenido educativo publicado en la comunidad."
      url="https://bitnautas_cu.point.link/"
      badge="TOP"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
    title="eManager"
    img="/post_img_emanager.webp"
    desc="Es una aplicaci칩n m칩vil desarrollada con el objetivo de administrar los servicios de Etecsa de la manera m치s minimalista y pr치ctica posible. Cuenta con todas las herramientas necesarias para hacer un uso r치pido e intuitivo de los servicios de Etecsa, tales como consulta de saldo, planes combinados, paquetes de datos, voz y mensajes. eManager organiza tus 칰ltimas operaciones proporcionadas por Transferm칩vil, te permite autenticarte y consulta tus 칰ltimas operaciones sin salir de la aplicaci칩n. Puedes usar la funci칩n de eTransfer para transferir y recibir saldo mediante c칩digos QR."
    url="https://www.apklis.cu/application/com.raise.studios.emanager"
  />
    <div class="divider my-0"></div>

    <div>
      <div class="text-3xl w-full font-bold mb-5 mt-10">Blog Personal</div>
    </div>

    {
      last_posts.map((post) => (
        <HorizontalCard
          title={post.frontmatter.title}
          img={post.frontmatter.heroImage}
          desc={post.frontmatter.description}
          url={post.url}
          target="_self"
        />
        <div class="divider my-0"></div>
      ))
    }

</BaseLayout>
