---
import PageLayout from "../layouts/Page.astro";
import Card from "../components/Card.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<PageLayout>
  <div class="pb-10">
    <div class="pb-4">
      <text class="text-2xl"> Hey there 👋</text>
    </div>
    <div>
      <text class="text-5xl font-bold"> I'm Manuel Ernesto</text>
    </div>
    <div class="py-2">
      <text>
        I am a cuban Software Engineer and entrepreneurship. I work creating software solutions that solve problems in a simple way and sharing what I learn along the way. I like
        minimalism, Open-Source, good music and masareales.</text
      >
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold">My last projects {"</>"}</div>
  </div>

  <div class="flex flex-wrap mb-5 mt-3">
    <Card
      title="WeekTodo"
      img="https://weektodo.me/assets/images/weektodo-opengraph-1200x630.png"
      desc="Free minimalist weektly planner focused in privacy."
      url="https://weektodo.me/"
      badge="NEW"
    />
    <Card
      title="Productiveness"
      img="https://softr-prod.imgix.net/applications/f988aa05-d312-4aa6-812e-832bdc75388d/assets/d2c87a17-4fc7-455f-a656-5e4cdbe7aa71.png"
      desc="Discover the best productivity apps in the market."
      url="https://www.productiveness.net/"
    />
    <Card
      title="Zen Twitter"
      img="https://lh3.googleusercontent.com/NGt846Flv6wyBSlYzfJkFHAJ8mcG1pf4M-InYeZnp4VsIk6JKk8nZ2ZKskDlvHDAEYr_biSO8jtXIWI83OXD5RNXWg=w640-h400-e365-rj-sc0x00ffffff"
      desc="Disable Twitter vanity metrics, notifications and distractions."
      url="https://chrome.google.com/webstore/detail/zen-twitter/nlkendkabgopehmlmohfbkgkjjdjepnb"
      badge="FOSS"
    />
  </div>

</PageLayout>
