---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout>
  <div>
    <div class="text-3xl w-full font-bold mb-5">Applications</div>
  </div>

  <HorizontalCard
    title="WeekTodo"
    img="https://weektodo.me/assets/images/weektodo-opengraph-1200x630.png"
    desc="Free minimalist weektly planner focused in privacy."
    url="https://weektodo.me/"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Productiveness"
    img="https://softr-prod.imgix.net/applications/f988aa05-d312-4aa6-812e-832bdc75388d/assets/d2c87a17-4fc7-455f-a656-5e4cdbe7aa71.png"
    desc="Discover the best productivity apps in the market."
    url="https://www.productiveness.net/"
  />

  <div class="divider my-0"></div>
  <HorizontalCard
    title="Qvalive"
    img="https://qvalive.com/assets/images/qvalive-splash.jpg"
    desc="QvaLive es el espacio de las transmisiones cuabanas en vivo por internet."
    url="https://qvalive.com/"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Tools</div>
  </div>

  <HorizontalCard
    title="Zen Twitter"
    img="https://lh3.googleusercontent.com/NGt846Flv6wyBSlYzfJkFHAJ8mcG1pf4M-InYeZnp4VsIk6JKk8nZ2ZKskDlvHDAEYr_biSO8jtXIWI83OXD5RNXWg=w640-h400-e365-rj-sc0x00ffffff"
    desc="Disable Twitter vanity metrics, notifications and distractions."
    url="https://chrome.google.com/webstore/detail/zen-twitter/nlkendkabgopehmlmohfbkgkjjdjepnb"
    badge="FOSS"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Resources</div>
  </div>

  <HorizontalCard
    title="Multi Steps Form Component for Bootstrap"
    img="https://pbs.twimg.com/media/Fb-73tPXoAA67S5?format=jpg&name=medium"
    desc="Easily create a multi-step form for bootstrap."
    url="https://manuelernestog.github.io/bootstrap-multi-steps-component/"
    badge="FOSS"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Joplin Minimalist Light Theme"
    img="https://github.com/manuelernestog/joplin-minimalist-light-theme/raw/main/docs/theme.png?raw=true"
    desc="Minimalist Light theme for joplin"
    url="https://github.com/manuelernestog/joplin-minimalist-light-theme"
    badge="FOSS"
  />
</BaseLayout>
