---
import PageLayout from "../layouts/Page.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<PageLayout>
  <div>
    <div class="text-3xl w-full font-bold mb-5">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="WeekTodo"
    img="https://weektodo.me/assets/images/weektodo-opengraph-1200x630.png"
    desc="Free minimalist weektly planner focused in privacy."
    url="https://weektodo.me/"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Productiveness"
    img="https://softr-prod.imgix.net/applications/f988aa05-d312-4aa6-812e-832bdc75388d/assets/d2c87a17-4fc7-455f-a656-5e4cdbe7aa71.png"
    desc="Discover the best productivity apps in the market."
    url="https://www.productiveness.net/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Zen Twitter"
    img="https://lh3.googleusercontent.com/NGt846Flv6wyBSlYzfJkFHAJ8mcG1pf4M-InYeZnp4VsIk6JKk8nZ2ZKskDlvHDAEYr_biSO8jtXIWI83OXD5RNXWg=w640-h400-e365-rj-sc0x00ffffff"
    desc="Disable Twitter vanity metrics, notifications and distractions."
    url="https://chrome.google.com/webstore/detail/zen-twitter/nlkendkabgopehmlmohfbkgkjjdjepnb"
    badge="FOSS"
    tags={["Chrome Extension", "Free"]}
  />
</PageLayout>
