---
import PageLayout from "../layouts/Page.astro";
import Card from "../components/Card.astro";
---

<PageLayout>
  <div class="flex flex-wrap mb-5 mt-3">
    <Card
      title="WeekTodo"
      img="https://weektodo.me/assets/images/weektodo-opengraph-1200x630.png"
      desc="Free minimalist weektly planner focused in privacy."
      url="https://weektodo.me/"
      badge="NEW"
    />
    <Card
      title="Productiveness"
      img="https://softr-prod.imgix.net/applications/f988aa05-d312-4aa6-812e-832bdc75388d/assets/d2c87a17-4fc7-455f-a656-5e4cdbe7aa71.png"
      desc="Discover the best productivity apps in the market."
      url="https://www.productiveness.net/"
    />
    <Card
      title="Zen Twitter"
      img="https://lh3.googleusercontent.com/NGt846Flv6wyBSlYzfJkFHAJ8mcG1pf4M-InYeZnp4VsIk6JKk8nZ2ZKskDlvHDAEYr_biSO8jtXIWI83OXD5RNXWg=w640-h400-e365-rj-sc0x00ffffff"
      desc="Disable Twitter vanity metrics, notifications and distractions."
      url="https://chrome.google.com/webstore/detail/zen-twitter/nlkendkabgopehmlmohfbkgkjjdjepnb"
      badge="FOSS"
    />
    <Card
    title="Qvalive"
    img="https://qvalive.com/assets/images/qvalive-splash.jpg"
    desc="El espacio de transmisiones cubanas en vivo por internet."
    url="https://qvalive.com/"
  />
  </div>
</PageLayout>
