---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Efimenko Matvey
  </div>
  <div class="inline opacity-75">
    <!-- Thanks for using this template. You can keep this line to support my work :) -->
    <a href="https://manuelernestog.github.io" target="_blank" class="font-bold"> developed by Efimenko Matvey ⚡️</a>
  </div>
</footer>
<style>

</style>
