---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2 inline">
    &copy; {today.getFullYear()} <a href="https://ahmadikhwan.github.io" target="_blank" class="font-bold">Ahmad Ikhwan</a>
  </div>
</footer>
<style>

</style>
