---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Manuel Ernesto
  </div>
  <div class="inline opacity-50">
    Developed by <a href="">Manuel Ernesto ⚡️</a>
  </div>
</footer>
<style>

</style>
