---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Manuel Ernesto
  </div>
  <div class="inline opacity-75">
    <!-- Thanks for using this template. You can keep this line to support my work :) -->
    <a href="https://astrofy-template.netlify.app/" target="_blank" class="font-bold">Astrofy Template</a> developed by
    <a href="https://manuelernestog.github.io" target="_blank" class="font-bold">Manuel Ernesto ⚡️</a>
  </div>
</footer>
<style>

</style>
